@media print,
screen and (max-width: 64.0613em) {
    #about .comicWrap .mySwiper.comic-content .article-area .title {
        font-size: 25px !important;
    }
}

// @media print, screen and (max-width: 64.0613em) {
//     .worshipWrap .worship-area {
//         zoom: 0.24 !important;
//     }
// }
// @media print,
// screen and (max-width: 64.0613em) {
//     #cupid .giftboxOutWrap .giftmoneyWrap .giftmoney-area .mySwiper {
//         margin-top: 0px !important;
//     }
// }

@media print,
screen and (max-width: 64.0613em) {
    #about .maketip-container .maketip-container-1 .note-area {
        margin-top: 100px !important;
    }
}

@media print,
screen and (max-width: 64.0613em) {
    .maketip-container .tip-head {
        font-size: 23px !important;
    }
}

@media print,
screen and (max-width: 64.0613em) {
    #about .mack168-container .rich-container-1 .sloganList .title {
        font-size: 20px !important;

    }
}

@media print,
screen and (max-width: 64.0613em) {
    .worshipWrap .worship-scroll-controls {
        margin-top: -155px !important;
    }
}

@media print,
screen and (max-width: 64.0613em) {
    #news_detail .news-detailWrap .content {
        padding: 0 20px;
    }
}

@media print,
screen and (max-width: 64.0613em) {
    #shangyuan-wrap {
        overflow: hidden;
        margin-bottom: 0;

        .top-head-area {
            display: block;
            max-width: 83%;
            margin: 0 auto 38px;
            text-align: center;

            img {
                max-width: 100%;
            }
        }

        .bannerWrap {
            position: relative;
            z-index: 3;
            overflow: visible;

            .banner img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: center;
            }

            .article-area {
                top: 40px;
                right: 31px;
                z-index: 5;
                flex-direction: row;
                flex-wrap: nowrap;
                height: 60%;

                .title {
                    line-height: 1.5;
                    letter-spacing: 3px;
                    margin-right: 12px;
                }

                .content {
                    letter-spacing: 2px;
                    writing-mode: vertical-lr;
                }
            }
        }

        .shangyuanWrap {
            padding: 0 0 180px;
            position: relative;

            .share-container.hide-for-large {
                position: fixed;
                top: 0;
                right: 5px;
                bottom: auto;
                height: 100%;
                opacity: 0;
                transform: translateX(170px);
                transition: none;

                .share-area {
                    position: sticky;
                    top: 30vh;
                    text-align: center;

                    .text {
                        margin-bottom: 10px;

                        img {
                            width: 47px;
                        }
                    }

                    .shareList {
                        margin-bottom: 35px;

                        a {
                            display: block;
                            margin-bottom: 12px;

                            img {
                                width: 30px;
                            }
                        }
                    }

                    .join-btn {
                        display: block;
                        position: relative;

                        .icon {
                            position: absolute;
                            left: 7px;
                        }

                        img {
                            width: 60px;
                            max-width: fit-content;
                        }
                    }
                }
            }

            .shangyuan-area-1 {
                padding: 50px 0 0;
                margin-bottom: 90px;

                .slogan {
                    max-width: 83%;
                    margin: 0 auto 55px;
                    font-size: 18px;
                    line-height: 1.8;
                    letter-spacing: 7px;
                    text-align: center;
                }

                .wave-area {
                    zoom: .25;
                }

                .wave-area.top {
                    margin-bottom: -80px;
                }

                .wave-area.bottom {
                    margin-top: -40px;
                }

                .money {
                    display: none;
                }

                .shine-area {
                    margin-bottom: 80px;

                    &.top {
                        margin-top: -72px;
                        margin-bottom: -22px;

                        .shine-2{
                            transform: translateY(30px);
                        }
                    }

                    &.bottom {
                        gap: 0 30vw;
                        margin-bottom: -40px;

                        .shine-4{
                            transform: translateY(30px);
                        }
                    }

                    .shine {
                        // zoom: .38;
                    }
                }

                .content-area {
                    position: relative;
                    top: auto;
                    max-width: 83%;
                    margin: 0 auto;
                    display: grid;
                    grid-template-columns: 1fr 1fr;
                    gap: 0 35px;

                    .content {
                        font-size: 13px;
                        line-height: 1.8;
                        letter-spacing: 1px;
                    }
                }

                .mobile-money-article {
                    max-width: 83%;
                    margin: 0 auto 30px;
                    text-align: center;

                    .mobile-money {
                        width: 50%;
                        margin: 0 auto;
                        pointer-events: none;

                        img {
                            width: 100%;
                            max-width: none;
                        }
                    }

                    .money-up {
                        margin-bottom: 24px;
                        position: relative;
                        bottom: 180px;
                    }

                    .money-down {
                        margin-top: 28px;
                    }

                    .title {
                        font-size: 28px;
                        line-height: 1.5;
                        letter-spacing: 8px;
                        color: #fff;
                        margin-bottom: 42px;
                        white-space: normal;
                        margin-top: -160px;

                        b {
                            font-size: inherit;
                            letter-spacing: inherit;
                        }
                    }

                    .content {
                        font-size: 15px;
                        line-height: 2.15;
                        letter-spacing: 2px;
                        text-align: left;
                        color: #fff;
                    }
                }
            }

            .c-yt-area {
                position: relative;
                max-width: 100%;
                margin: 0 auto 120px;
                padding: 0;
                z-index: 3;

                .article-area {
                    max-width: 83%;
                    margin: 0 auto 48px;
                    padding: 0;
                    text-align: center;

                    .mobile-money {
                        width: 84%;
                        max-width: none;
                        margin-left: auto;
                        margin-right: auto;
                        transform: none;
                        pointer-events: none;

                        img {
                            width: 100%;
                            max-width: none;
                        }
                    }

                    .money-up {
                        margin-bottom: 28px;
                    }

                    .money-down {
                        margin-top: 34px;
                    }

                    .title {
                        font-size: 28px;
                        line-height: 1.5;
                        letter-spacing: 8px;
                        margin-bottom: 42px;
                        white-space: normal;

                        b {
                            font-size: inherit;
                            letter-spacing: inherit;
                        }
                    }

                    .content {
                        font-size: 15px;
                        line-height: 2.15;
                        letter-spacing: 2px;
                        text-align: left;
                        color: #fff;
                    }
                }

                >.article-area {
                    display: none;
                }

                .yt-container {
                    width: 100%;
                    height: 56vw;
                    margin-top: 0;
                    position: relative;

                    .cover-area,
                    .cover,
                    .play {
                        position: absolute;
                        top: 0;
                        right: 0;
                        bottom: 0;
                        left: 0;
                    }

                    img,
                    iframe {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }
            }

            .c-feature-area,
            .c-god-area,
            .shangyuan-area-container,
            .flowWrap,
            .c-qa-area {
                max-width: 100%;
                margin: 190px auto 0;
                padding: 0;
            }

            .c-feature-area,
            .c-god-area,
            .shangyuan-area-container,
            .flowWrap,
            .c-qa-area {
                >.head {
                    border: none;
                    padding-bottom: 20px;
                    margin-bottom: 50px;
                    text-align: center;

                    img {
                        max-width: 83%;
                    }
                }
            }

            .c-feature-area {
                .logo {
                    width: 230px;
                    margin: 0 auto 55px;
                    text-align: center;
                }

                .featureList {
                    display: block;
                    padding: 0;
                    background-color: #DA4E36;

                    &.open-wrap {
                        display: none;
                    }

                    li {
                        max-width: 83%;
                        margin: 0 auto 67px;
                        padding-bottom: 0;

                        &:last-child {
                            margin-bottom: 0;
                            padding-bottom: 70px;
                        }

                        .pic {
                            margin-bottom: 32px;
                            text-align: center;

                            img {
                                width: 100%;
                            }
                        }

                        .title {
                            font-size: 22px;
                            line-height: 1.4;
                            letter-spacing: 4px;
                            margin-bottom: 30px;
                            text-align: center;
                        }

                        .content {
                            font-size: 14px;
                            line-height: 1.8;
                            letter-spacing: 1px;
                            color: #302725;
                        }
                    }
                }
            }

            .c-god-area {
                >.content {
                    padding-bottom: 70px;
                    background-color: #DA4E36;

                    &.open-wrap {
                        display: none;
                    }
                }

                .god-area {
                    margin: 0 0 40px;
                    padding: 0;
                    background-color: transparent;

                    .pic {
                        margin-bottom: 60px;
                        border-bottom: none;

                        img {
                            width: 100%;
                        }
                    }

                    .article-area {
                        max-width: 83%;
                        margin: 0 auto;
                        padding: 0;
                        text-align: center;

                        .title {
                            font-size: 23px;
                            line-height: 1.4;
                            letter-spacing: 3px;
                            margin-bottom: 42px;
                            color: #302725;
                        }

                        .content {
                            padding: 0;
                            font-size: 15px;
                            line-height: 1.8;
                            letter-spacing: 2px;
                            text-align: left;
                            color: #302725;
                        }
                    }
                }

                .godList {
                    margin-top: 100px;

                    li {
                        display: flex;
                        flex-direction: column-reverse;
                    }

                    .article-area {
                        max-width: 83%;
                        margin: 0 auto;
                        padding: 0;
                        text-align: center;

                        .title {
                            font-size: 23px;
                            line-height: 1.4;
                            letter-spacing: 7px;
                            margin-bottom: 40px;
                            color: #302725;
                        }

                        .content {
                            font-size: 16px;
                            line-height: 1.8;
                            letter-spacing: 2px;
                            text-align: left;
                            color: #302725;
                        }
                    }

                    .pic {
                        margin-bottom: 33px;
                        text-align: center;
                    }
                }
            }

            .shangyuan-area-container {
                .shangyuan-content {
                    padding: 25px 0 45px;
                    background-color: #DA4E36;

                    &.open-wrap {
                        display: none;
                    }
                }
            }

            .shangyuan-area-2 {
                max-width: 83%;
                margin: 0 auto 127px;
                padding-left: 0;

                &:last-child {
                    margin-bottom: 0;
                }

                .bigword {
                    position: static;
                    margin-bottom: 20px;
                    text-align: center;
                }

                >.head {
                    padding: 0;
                    margin-bottom: 20px;
                    font-size: 26px;
                    letter-spacing: 5px;
                    text-align: center;
                    color: #302725;
                }

                .xaList {
                    margin-top: 20px;

                    li {
                        padding: 50px 0;
                        text-align: center;
                        border-color: #302725;

                        &.is-open .arrow {
                            top: auto;
                            transform: rotateZ(-180deg);
                        }
                    }

                    .title {
                        font-size: 22px;
                        letter-spacing: 3px;
                        color: #302725;
                    }

                    .answer {
                        font-size: 14px;
                        line-height: 1.8;
                        letter-spacing: 1px;
                        text-align: left;
                        color: #302725;
                    }

                    .arrow {
                        top: auto;
                        right: auto;
                        bottom: -48px;
                        left: calc(50% - 21px);
                        zoom: 1;
                        z-index: 1;
                    }
                }

                .box-container {
                    display: block;
                    margin-top: 130px;
                    padding: 0;

                    .article-area {
                        max-width: 100%;
                        margin: 0 auto;

                        .title {
                            font-size: 28px;
                            letter-spacing: 4px;
                            text-align: center;
                            color: #302725;
                        }

                        .content {
                            font-size: 14px;
                            line-height: 1.8;
                            letter-spacing: 1px;
                            color: #302725;
                        }
                    }

                    .pic {
                        margin-top: 0;
                        text-align: center;

                        img {
                            width: 100%;
                        }
                    }

                    .money {
                        margin-top: 30px;
                        font-size: 25px;
                        color: #302725;

                        b {
                            font-size: 38px;
                            color: #c99d4e;
                        }

                        i {
                            font-size: 14px;
                        }
                    }
                }
            }

            .pudu-trans-area {
                padding: 20px 0 95px;

                img {
                    width: 100%;
                }
            }

            .flowWrap {
                .flowWrap-content {
                    padding-bottom: 64px;
                    background-color: #DA4E36;

                    &.open-wrap {
                        display: none;
                    }
                }

                .flow-sliderWrap {
                    margin-top: 0;
                    border-radius: 0;
                    padding: 38px 0 84px;
                }

                .flow-sliderList li:not(.dot) {
                    width: 100%;

                    img {
                        width: 100%;
                    }
                }

                .xiayuan-bookList {
                    max-width: 83%;
                    margin: 0 auto;
                }
            }

            .c-qa-area {
                .qaList-content {
                    padding-bottom: 120px;
                    background-color: #DA4E36;

                    &.open-wrap {
                        display: none;
                    }
                }

                .qaList {
                    max-width: 83%;
                    margin: 0 auto;

                    li {
                        position: relative;
                        padding: 60px 0 40px;
                        border-bottom: 2px solid #c99d4e;
                    }

                    .title {
                        font-size: 23px;
                    }

                    .answer {
                        font-size: 14px;
                        text-align: left;
                    }
                }
            }

            .mobile-open {
                position: relative;

                &.is-open .arrow {
                    transform: rotateZ(180deg);
                }

                .line {
                    position: absolute;
                    top: -17px;
                    width: 100%;
                    text-align: center;
                }

                .arrow {
                    position: absolute;
                    top: -52px;
                    width: 100%;
                    text-align: center;
                    cursor: pointer;
                    transition: .3s ease-in-out;
                }
            }
        }
    }
}