@media print,
screen and (max-width: 64.0613em) {
    #about .comicWrap .mySwiper.comic-content .article-area .title {
        font-size: 25px !important;
    }
}

// @media print, screen and (max-width: 64.0613em) {
//     .worshipWrap .worship-area {
//         zoom: 0.24 !important;
//     }
// }
// @media print,
// screen and (max-width: 64.0613em) {
//     #cupid .giftboxOutWrap .giftmoneyWrap .giftmoney-area .mySwiper {
//         margin-top: 0px !important;
//     }
// }

@media print,
screen and (max-width: 64.0613em) {
    #about .maketip-container .maketip-container-1 .note-area {
        margin-top: 100px !important;
    }
}

@media print,
screen and (max-width: 64.0613em) {
    .maketip-container .tip-head {
        font-size: 23px !important;
    }
}

@media print,
screen and (max-width: 64.0613em) {
    #about .mack168-container .rich-container-1 .sloganList .title {
        font-size: 20px !important;

    }
}

@media print,
screen and (max-width: 64.0613em) {
    #news_detail .news-detailWrap .content {
        padding: 0 20px;
    }
}